<div class="message-container"></div>

<div class="content-container">

  <h3>Minnpost Campaign Finance</h3>

  {{^noData}}
    {{>loading}}
  {{/noData}}

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-campaign-finance" target="_blank">Github</a>.</p>
    
  </div>
</div>
