<div class="message-container"></div>

<div class="content-container">


</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Data from the <a href="http://www.fec.gov/" target="_blank">Federal Elections Committee</a> and the <a href="http://www.cfboard.state.mn.us/" target="_blank">Minnesota Campaign Finance and Public Disclosure Board</a>.  Some code, techniques, and data on <a href="https://github.com/MinnPost/minnpost-campaign-finance" target="_blank">Github</a>.</p>
  </div>
</div>
