/**
 * Main styles for: minnpost-campaign-finance
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */


body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-campaign-finance-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;


  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent $loader-image center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }

  table {
    width: 100%;
    margin-bottom: 2em;

    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(4),
    td:nth-child(5) {
      text-align: right;
    }

    thead {

      th {
        padding-right: .5em;
        padding-left: .5em;
        border-bottom: 2px solid $color-light-gray;
      }
    }

    tbody {

      tr {

        &:nth-child(even) td {
          background-color: $color-lightest-gray;
        }
        td:first-child,
        td:nth-child(2) {
          width: 3%;
          text-align: center;
        }
        td:nth-child(3) {
          width: 50%;
        }
        td:nth-child(4) {
          width: 20%;
        }
      }
    }
  }

  .contests {

    h4 {
      margin-bottom: .5em;
      text-transform: uppercase;
    }

    a .fa {
      color: $color-dark-gray;
      vertical-align: baseline;
    }

    .label-block {
      @include inline-block();
      @include border-radius(2px);
      height: .85em;
      width: .85em;
      margin-left: .25em;
      line-height: 1;
      vertical-align: baseline;
    }
    .label-amount-raised {
      @extend .label-block;
      background-color: #1DA595;
    }
    .label-cash-hand {
      @extend .label-block;
      background-color: #1D71A5;
    }

    .party {
      @include inline-block();
      @include border-radius(2px);
      height: 1em;
      width: 1em;
      line-height: 1;
      vertical-align: baseline;

      &.party-D {
        background-color: #52AAE0;
      }
      &.party-R {
        background-color: #D02539;
      }
    }

    .intervals {
      margin-bottom: .5em;

      a {
        @include inline-block();
        margin-right: .5em;

        &.active {
          font-weight: bold;
          text-decoration: underline !important;
        }
      }
    }

    .time-span {
      text-align: right;
      color: $color-light-gray;
    }

    .contest {
      margin-bottom: 6em;

      .no-data,
      .incumbent {
        font-style: italic;
        color: $color-light-gray;
        font-size: .85em;
      }

      .contest-chart {
        width: 100%;
        height: 12em;
        margin-bottom: 1em;
      }
    }
  }


  // Breakpoints
  @media screen and (max-width: 500px) {

    // Responsive table contaainer
    .responsive-table {
      width: 100%;
      margin-bottom: 2em;
      overflow-x: scroll;
      overflow-y: hidden;
      border: 1px solid $color-medium-gray;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;

      table {
        margin-bottom: 0;
      }
    }
  }
}
